---
import "../styles/global.css";
import { Header } from "@/components/common/Header";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Car viewer</title>
  </head>
  <body>
    <div
      style={{
        maxWidth: "1280px",
        padding: '0 20px',
        maxHeight: "100vh",
        margin: "0 auto",
        display: "flex",
        flexDirection: "column",
        gap: "5 0px",
        overflow: 'hidden'
      }}
    >
      <Header client:visible />
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
